/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * TOOL TIP BASE
 * TOOL TIP RIGHT
 * TOOL TIP BOTTOM
 * TOOL TIP ACTIVE
 */



/*
    Todo - Double check the output of all this css
    @author - lukelarsen
    @date - 3/14/14
    @time - 8:45 PM
 */



/*------------------------------------*\
    $TOOL TIP BASE
\*------------------------------------*/

%tool-tip{
    position: relative;
    cursor: pointer;
    color: #B8B8B8;
    float: right;

    .tool-tip__container{
        position: absolute;
        z-index: 9;
        visibility: hidden;
        padding: 10px 15px;
        width: 200px;
        text-transform: none;
        opacity: 0;
        cursor: default;
    }

    .tool-tip__close{
        position: absolute;
        right: 0px;
        bottom: 0;
        padding: 3px 4px;
        cursor: pointer;
    }
}





/*------------------------------------*\
    $TOOL TIP RIGHT
\*------------------------------------*/

%tool-tip--right{
    > .tool-tip__container{
        @include arrow(left, top, green);
        transition: visibility 0s ease-in, opacity .3s ease-in, left .3s ease-in;
        top: $tool-tip--right-top;
        left: $tool-tip--right-start;

        /*
            Todo - Test these media queries
            @author - lukelarsen
            @date - 3/14/14
            @time - 8:10 PM
         */

        @include media-query(portable) {
            top: 21px;
            left: -179px !important;

            &:before,
            &:after{
                border-right-color: transparent !important;
            }
        }
    }
}





/*------------------------------------*\
    $TOOL TIP BOTTOM
\*------------------------------------*/


%tool-tip--bottom{
    > .tool-tip__container{
        @include arrow(top, right, green);
        transition: visibility 0s ease-in, opacity .3s ease-in, top .3s ease-in;
        top: $tool-tip--bottom-start;
        left: $tool-tip--bottom-left;

        /*
            Todo - Test these media queries
            @author - lukelarsen
            @date - 3/14/14
            @time - 8:12 PM
         */

        @include media-query(portable) {
            top: 21px;
            left: -179px !important;

            &:before,
            &:after{
                border-right-color: transparent !important;
            }
        }
    }
}





/*------------------------------------*\
    $TOOL TIP ACTIVE
\*------------------------------------*/

.tool-tip-active .tool-tip__container{
    visibility: visible;
    opacity: 1;
}

.tool-tip-right.tool-tip-active .tool-tip__container{
    left: $tool-tip--right-end;
}

.tool-tip-bottom.tool-tip-active .tool-tip__container{
    top: $tool-tip--bottom-end;
}