@if $use-modals == true{
    /*------------------------------------*\
        CONTENTS
    \*------------------------------------*/
    /**
     *  MODAL STRUCTURE
            Modal Header
            Modal Body
            Modal Footer
     *  MODAL WIDTHS
            Modal Wide
            Modal Normal
            Modal Narrow
     *  MODAL ANIMATIONS
            Modal Slide Up
            Modal Slide Right
            Modal 3D Flip Horizontal
            Modal 3D Flip Vertical
            Modal Super Scaled
     */

    /**
     * Credit goes to Code Drops - Nify Modal Window Effects - http://tympanus.net/codrops/2013/06/25/nifty-modal-window-effects/
     */





    /*------------------------------------*\
        !MODAL STRUCTURE
    \*------------------------------------*/

    .modal{
        position: fixed;
        top: 15%;
        left: 30%;
        width: 40%;
        min-width: 320px;
        height: auto;
        visibility: hidden;
        display: none;
        backface-visibility: hidden;
        z-index: z(modal);

        @include media-query(palm){
            top: 0%;
            width: 100%;
            left: 0%;
        }
    }

    .modal__content{
        background-color: $modal_background_color;
    }

    .modal--show{
        visibility: visible;
    }

    .modal-overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        visibility: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background: $modal_overlay_background_color;
        display: none;
        transition: all .3s;
        z-index: (z(modal) - 1);
    }

    .modal--show ~ .modal-overlay{
        opacity: 1;
        visibility: visible;
    }


    /**
     * ^Modal Header
     */
    .modal__header{
        background-color: $modal_header_background_color;
        padding: $modal_header_padding;
        margin-bottom: $modal_header_margin_bottom;

        h3{
            text-align: center;
            color: $modal_header_text_color;
            margin-bottom: 0;
        }
    }


    /**
     * ^Modal Body
     */
    .modal__body{
        padding: $modal_body_padding;
        overflow-y: scroll;
    }


    /**
     * ^Modal Footer
     */
    .modal__footer{
        border-top: $modal_footer_border_top;
        padding: $modal_footer_padding;
    }






    /*------------------------------------*\
        !MODAL WIDTHS
    \*------------------------------------*/

    /**
     * ^Modal Wide
     */
    @if $modal--wide == true{
        .modal--wide{
            width: 60%;
            left: 20%;

            @include media-query(portable){
                top: 2%;
            }

            @include media-query(palm){
                left: 0%;
            }
        }
    }


    /**
     * ^Modal Narrow
     */
    @if $modal--narrow == true{
        .modal--narrow{
            width: 30%;
            left: 35%;

            @include media-query(palm){
                left: 0%;
            }
        }
    }


    /**
     * ^Modal Palm;
     */

    @include media-query(palm){
        .modal{
            height: 100%;
        }

        .modal__content{
            height: 100%;
            display: flex;
            flex-direction: column;

            .modal__header{
                flex: auto 0 0;
            }
            
            .modal__body{
                max-height: none !important;
            }

            .modal__footer{
                flex: auto 0 0;
            }
        }
    }





    /*------------------------------------*\
        !MODAL ANIMATIONS
    \*------------------------------------*/

    /**
     * Credit: http://tympanus.net/codrops/2013/06/25/nifty-modal-window-effects/
     */

    /**
     * ^Modal Slide Up
     */
    @if $modal--scale-up == true{
        .modal--scale-up .modal__content{
            transform: scale(0.7);
            opacity: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .modal--show.modal--scale-up .modal__content{
            transform: scale(1);
            opacity: 1;
        }
    }


    /**
     * ^Modal Slide Right
     */
    @if $modal--slide-right == true{
        .modal--slide-right .modal__content{
            transform: translateX(20%);
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
        }

        .modal--show.modal--scale-up .modal__content{
            transform: translateX(0);
            opacity: 1;
        }
    }


    /**
     * ^Modal 3D Flip Horizontal
     */
    @if $modal--3d-flip-horizontal == true{
        .modal--3d-flip-horizontal.modal{
            perspective: 1300px;
        }

        .modal--3d-flip-horizontal .modal__content{
            transform-style: preserve-3d;
            transform: rotateY(-70deg);
            transition: all 0.3s;
            opacity: 0;
        }

        .modal--show.modal--3d-flip-horizontal .modal__content{
            transform: rotateY(0deg);
            opacity: 1;
        }
    }


    /**
     * ^Modal 3D Flip Vertical
     */
    @if $modal--3d-flip-vertical == true{
        .modal--3d-flip-vertical.modal{
            perspective: 1300px;
        }

        .modal--3d-flip-vertical .modal__content{
            transform-style: preserve-3d;
            transform: rotateX(-70deg);
            transition: all 0.3s;
            opacity: 0;
        }

        .modal--show.modal--3d-flip-vertical .modal__content{
            transform: rotateX(0deg);
            opacity: 1;
        }
    }


    /**
     * ^Modal Super Scaled
     */
    @if $modal--super-scaled == true{
        .modal--super-scaled .modal__content{
            transform: scale(2);
            opacity: 0;
            transition: all 0.3s;
        }

        .modal--show.modal--super-scaled .modal__content{
            transform: scale(1);
            opacity: 1;
        }
    }
}