@if $use-modals == true{
    /*------------------------------------*\
        CONTENTS
    \*------------------------------------*/
    /**
     *  MODAL BASE
     *  MODAL INNER
     *  MODAL CLOSE
     */





    /*------------------------------------*\
        !MODAL BASE
    \*------------------------------------*/

    .modal,
    .modal-block{
        display: none;
    }

    .vanilla-modal .modal {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .3s, z-index 0s .3s;
        background: $modal-overlay-color;
        text-align: center;
        white-space: nowrap;
        content: '';
        opacity: 0;
        overflow: hidden;
        z-index: z('modal-inner');
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .vanilla-modal .modal > * {
        display: inline-block;
        text-align: left;
        white-space: normal;
        vertical-align: middle;
    }

    .vanilla-modal .modal:before {
        display: inline-block;
        width: 0;
        height: 100%;
        content: '';
        overflow: hidden;
        vertical-align: middle;
    }

    .vanilla-modal.modal-visible .modal {
        transition: opacity .3s;
        opacity: 1;
        z-index: z('modal');
    }





    /*------------------------------------*\
        !MODAL INNER
    \*------------------------------------*/

    .modal-inner {
        position: relative;
        max-width: 90%;
        max-height: 90%;
        padding: $modal-inner-padding;
        transform: scale(0);
        transition: opacity .3s, transform .3s, z-index 0s .3s;
        background: $modal-inner-background-color;
        opacity: 0;
        overflow: hidden;
        z-index: z('modal-inner');
        overflow-x: hidden;
        overflow-y: auto;
    }

    .modal-visible .modal-inner {
        transform: scale(1);
        transition: opacity .3s, transform .3s;
        opacity: 1;
        z-index: z('modal-inner-visible');
    }





    /*------------------------------------*\
        !MODAL CLOSE
    \*------------------------------------*/

    a[rel="modal:close"] {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        background: $modal-close-background-color;
        cursor: pointer;
        color: $modal-close-color;
        font-size: 13px;
        line-height: 25px;
        text-align: center;
        z-index: z('modal-close');
    }
}
