/*
Syntax error: Invalid CSS after "        url": expected "{", was "('#{$file-path}..."
        on line 133 of base/general/_general-mixins.scss
        from line 6 of style.scss

128: @mixin font-face($font-family, $file-path, $weight: normal, $style: normal){
129:     @font-face {
130:         font-family: $font-family;
131:         font-weight: $weight;
132:         font-style: $style;
133:         url('#{$file-path}.woff') format('woff'),
134:     }
135: }
136: 
137: 
138: 

Backtrace:
base/general/_general-mixins.scss:133
style.scss:6
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1306:in `expected'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1242:in `expected'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1237:in `tok!'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:635:in `block'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:629:in `ruleset'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:692:in `block in declaration_or_ruleset'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1282:in `call'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:1282:in `rethrow'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:655:in `block_child'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:207:in `directive_body'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:199:in `directive'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:655:in `block_child'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:644:in `block_contents'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:636:in `block'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:228:in `mixin_directive'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:216:in `special_directive'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:188:in `directive'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:654:in `block_child'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/scss/parser.rb:41:in `parse'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/engine.rb:409:in `_to_tree'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/engine.rb:305:in `to_tree'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/stack.rb:88:in `block in with_import'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/stack.rb:121:in `with_frame'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/stack.rb:88:in `with_import'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/stack.rb:121:in `with_frame'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/stack.rb:79:in `with_base'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/engine.rb:274:in `render'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:186:in `each'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/lukelarsen/.rvm/gems/ruby-2.0.0-p247/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"        url\": expected \"{\", was \"('#{$file-path}...\"\A         on line 133 of base/general/_general-mixins.scss\A         from line 6 of style.scss\A \A 128: @mixin font-face($font-family, $file-path, $weight: normal, $style: normal){\A 129:     @font-face {\A 130:         font-family: $font-family;\A 131:         font-weight: $weight;\A 132:         font-style: $style;\A 133:         url('#{$file-path}.woff') format('woff'),\A 134:     }\A 135: }\A 136: \A 137: \A 138: "; }
