/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  CLEARFIX
 *  SHOW / HIDE
 */

////
/// @group general
////





/*------------------------------------*\
    !CLEARFIX
\*------------------------------------*/

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */

/// Clearfix helper
/// @link css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
%cf{
    &:after{
        display: table;
        clear: both;
        content: '';
    }
}





/*------------------------------------*\
    !SHOW / HIDE
\*------------------------------------*/

/// Hidden helper. Use to completely hide. Uses display: none;
%hidden{
    display: none !important;
    visibility: hidden;
}

/// Visually hidden helper. Use to visually hide. Won't use display: none; but will pull it out of the box-model.
%visually-hidden{
    @include absolute();
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &.focusable:active,
    &.focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

/// Invisible helper. Use to visually hide. Will only use visibility: hidden;
%invisible{
    visibility: hidden;
}
