/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  CLEARFIX
 *  SHOW / HIDE
 */





/*------------------------------------*\
    !CLEARFIX
\*------------------------------------*/

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
%cf{
    &:after{
        display: table;
        clear: both;
        content: '';
    }
}





/*------------------------------------*\
    !SHOW / HIDE
\*------------------------------------*/

%hidden{
    display: none !important;
    visibility: hidden;
}

%visually-hidden{
    @include absolute();
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &.focusable:active,
    &.focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

%invisible{
    visibility: hidden;
}
