/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * RESPONSIVENESS
 * COLORS
*/





/*------------------------------------*\
    !RESPONSIVENESS
\*------------------------------------*/

/**
 * These came from CSS Wizardry Grids - http://csswizardry.com/csswizardry-grids/
 *
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--full`), the second value is the media query
 * that the breakpoint fires at.
 */
$breakpoints: (
    'palm' '(max-width: 480px)',
    'lap' '(min-width: 481px) and (max-width: 1023px)',
    'portable' '(max-width: 1023px)', // both lap and palm
    'desk' '(max-width: 1024px)',
    'wide' '(min-width:1500px)'
);


/**
 * Set where breakpoints start.
 */
$lap-start:         481px!default;
$desk-start:        1024px!default;
$wide-start:        1500px!default;


/**
 * This list will make silent classes like %palm--full or %palm--grid-halves render
 * for you to extend. Your options are 'palm', 'lap', 'portable', 'desk', 'wide'.
 * If $use-silent-classes is set to false it will make regular classes instead of
 * silent classes.
 */
$breakpoint-has-widths: ('palm', 'lap', 'portable', 'desk', 'wide');
$use-silent-classes:    true;
$class-type:            unquote(".");
@if $use-silent-classes == true{
    $class-type:        unquote("%") !global;
}