/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USAGE
        HTML
        Class Options
        Example
 *  IMPORTS
 *  GRIDS
*/





/*------------------------------------*\
    !USAGE
\*------------------------------------*/

/**
 * ^HTML

   1. Keep the 'g-' but 'main' can be renamed to be whatever you want.
   2. Keep the 'gc-' but 'content' can be renamed to be whatever you want.
   3. Keep the 'gc-' but 'sidebar' can be renamed to be whatever you want.

   <div class="g-main"> <!-- 1. -->
       <div class="gc-content"> <!-- 2. -->
           <div class="block">
               <h2>Content</h2>
               <p>Content here</p>
           </div>
       </div>
       <div class="gc-sidebar"> <!-- 3. -->
           <div class="block">
               <h4>Sidebar Content</h4>
               <p>Sidebar content would go here</p>
           </div>
       </div>
   </div>
 */


/**
 * ^Class Options

 * Apply on .g-*
 * Block:       %grid
   Modifiers:   %grid--flex-cells (This will make cells the same height.)

                %grid--fit
                %grid--full
                %grid--halves
                %grid--thirds
                %grid--quarters
                %grid--fifths

                (You can replace 'palm' with: lap, portable, desk, or wide.)
                %grid--palm-full
                %grid--palm-halves
                %grid--palm-thirds
                %grid--palm-quarters
                %grid--palm-fifths

                %gutters-small
                %gutters-medium
                %gutters-large
                %gutters-xlarge

                (You can replace 'palm' with: lap, portable, desk, or wide.)
                %gutters--palm-small
                %gutters--palm-medium
                %gutters--palm-large
                %gutters--palm--xlarge

                %grid--top
                %grid--bottom
                %grid--center


 * Apply on .gc-*
 * Element:     %grid__item
   Modifiers:   %grid__item--full
                %grid__item--half
                %grid__item--third
                %grid__item--quarter
                %grid__item--fifth

                (You can replace 'palm' with: lap, portable, desk, or wide.)
                %grid__item--palm-full
                %grid__item--lap-full
                %grid__item--portable-full
                %grid__item--desk-full
                %grid__item--wide-full

                %grid__item--top
                %grid__item--bottom
                %grid__item--center
 */


/**
 * ^Example

   .g-main{
       @extend %grid;
       @extend %grid--flex-cells;
       @extend %grid--halves;
       @extend %grid--palm-full;
       @extend %gutters-large;
   }

   .gc-content{
       @extend %grid__item;
       @extend %grid__item--palm-full;
    }

 */





/*------------------------------------*\
    !IMPORTS
\*------------------------------------*/

//@import "options/grid-options";
//@import "../objects/grids/grids-extends";
//@import "../objects/grids/grids-mixins";





/*------------------------------------*\
    !GRIDS
\*------------------------------------*/

/**
 * !IMPORTANT - It is best to only attach grid and/or width styles to your
 * grid classes. Don't clutter them with other styles. Instead add markup
 * inside these divs and then style those.
 *
 * grid blocks need to start with .g- and grid cells should start with .gc-
 *
 * @extend %grid__item is only needed when there isn't another extend
 * defining it's flex width.
 *
 * Note: If you don't give a grid cell a width it will just fill the
 * remaining space.
 */

// START YOUR GRIDS HERE

.g-main{
    @extend %grid;
    @extend %grid--flex-cells;
    @extend %grid--halves;
    @extend %grid--palm-full;
    @extend %gutters-large;
}

//    .gc-reminders{
//        @extend %grid__item--fifth;
//        @extend %grid__item--palm-full;
//    }

    .gc-content{
        @extend %grid__item;
        @extend %grid__item--palm-full;
    }

    .gc-sidebar{
        @extend %grid__item--palm-full;
//        @extend %grid__item--fixed-200;

        @include media-query(lap) {
            width: 100px;
        }
    }


//.g-reminders{
//    @extend %grid;
//    @extend %grid--halves;
//    @extend %gutters-large;
//    @extend %grid--palm-full;
//}

    .gc-reminder{
        @extend %grid__item;
    }
    
    .gc-reminder--wide{
        @extend %grid__item--full;
    }