/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  SET Z-INDEX VALUES
        Dialogs
        Modals
        Notifications
        Tool Tips
 */





/*------------------------------------*\
    !SET Z-INDEX VALUES
\*------------------------------------*/

/**
 * ^Dialogs
 */
@if $use-dialog == true {
    .vex {
        z-index: z(vex);
    }

    .vex-load-spinner{
        z-index: (z(vex) + 1);
    }
}


/**
 * ^Modals
 */
@if $use-modals == true {
    .modal {
        z-index: z(modal);
    }

    .modal-overlay {
        z-index: (z(modal) - 1);
    }
}


/**
 * ^Notifications
 */
@if $use-notifications == true {
    .notification-wrapper {
        z-index: z(notification-wrapper);
    }
}


/**
 * ^Tool Tips
 */
@if $use-tool-tips == true {
    .tool-tip__container{
        z-index: z(tool-tip__container);
    }
}