/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * RESPONSIVENESS
 * COLORS
*/





/*------------------------------------*\
    $RESPONSIVENESS
\*------------------------------------*/

/**
 * Set where breakpoints start.
 */
$lap-start:         481px!default;
$desk-start:        1024px!default;
$wide-start:        1500px!default;
