@if $use-media == true{
    /*------------------------------------*\
        CONTENTS
    \*------------------------------------*/
    /**
     *  MEDIA BASE
     *  MEDIA TYPES
            Scrollable Media
            Vimeo
            Instgram
            Vine
     *  MEDIA PLAYER
     */

    /**
     *  Credit goes to responsivebp.com by @james_m_south
     */





    /*------------------------------------*\
        !MEDIA BASE
    \*------------------------------------*/

    img{
        max-width: 100%;
        height: auto;
    }

    audio,
    canvas,
    img,
    video{
        vertical-align: middle;
    }

    .media{
        position: relative;
        max-width: 100%;
        height: auto;
        margin-bottom: 1em;
        padding-top: 30px;
        padding-bottom: 56.25%;
        overflow: hidden;





        /*------------------------------------*\
            !MEDIA TYPES
        \*------------------------------------*/

        /**
         * ^Scrollabele Media
         */
        @if $media--scroll == true{
            &--scroll{
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
        }


        /**
         * ^Vimeo places the controls on the player itself.
         */
        @if $media--vimeo == true{
            &--vimeo{
                padding-top: 0;
            }
        }


        /**
         * ^Instagram
         */
        @if $media--instagram == true{
            &--instagram{
                max-width: none;
                height: auto;
                padding-bottom: 120%;
            }
        }


        /**
         * ^Vine
         */
        @if $media--vine == true{
            &--vine{
                max-width: none;
                height: auto;
                padding-bottom: 100%;
            }
        }
    }






    /*------------------------------------*\
        !MEDIA PLAYER
    \*------------------------------------*/

    .media iframe,
    .media object,
    .media embed,
    .media video{
        @include absolute(top 0 left 0);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        background-color: transparent;
    }
}
