@if $use-list == true{
    /*------------------------------------*\
        CONTENTS
    \*------------------------------------*/
    /**
     *  LIST BASE
     *  LIST NO BULLETS
     *  LIST COLORED
     */

    /**
     *  Credit goes to responsivebp.com by @james_m_south
     */




    /*------------------------------------*\
        !LIST BASE
    \*------------------------------------*/

    ul ul,
    ol ul{
        list-style: circle;
    }





    /*------------------------------------*\
        !LIST NO BULLETS
    \*------------------------------------*/

    @if $list-no-bullets == true{
        .list-no-bullets{
            list-style: none;
        }
    }





    /*------------------------------------*\
        !LIST COLORED
    \*------------------------------------*/

    @if $list-colored == true{
        .list-colored{
            padding-left: $list-colored-padding-left;
        }

        .list-colored > li{
            position: relative;
            list-style-type: none;
        }

        /*
         * 1. Escaped unicode coloured circle.
         * 2. Edit this property to change all colored class lists.
         * 3. Normalize funky webkit margin
         */
        .list-colored > li:before{
            @include absolute(top $list-colored-top left -1em);
            color: $list-colored-color; /* 2 */
            font-size: $list-colored-size;
            font-weight: bold;
            text-align: right;
            text-decoration: none;
            content: '\25CF'; /* 1 */
            -webkit-margin-start: -.25em; /* 3 */
        }

        // Counter increment to replace standard numbers.
        ol.list-colored{
            counter-reset: foo;
        }

        ol.list-colored > li{
            counter-increment: foo;
        }

        /*
         * Use the :before pseudo element to supply numbers.
         * 1. The counter value.
         * 2. Normalize funky webkit margin
         */
        ol.list-colored > li:before{
            left: -3.125em;
            width: 2.5em;
            font-weight: normal;
            content: counter(foo) '.'; /* 1 */
            -webkit-margin-start: 0; /* 2 */
        }
    }
}
