/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  DESIGN VARIABLES
 *  MODIFIER VARIABLES
 */





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

$code-background-color:             #f7f7f9;

$code-border:                       true;
$code-border-color:                 #c0c0c0;
$code-border-size:                  1px;
$code-border-type:                  solid;

$code-color:                        #ad0d36;
$code-padding:                      .5em;

$code-inline-padding:               .2em .25em;

$code-scroll-max-height:            20em;





/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

$code-scrollable:                   true;