/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  VARIABLES
 */





/*------------------------------------*\
    !VARIABLES
\*------------------------------------*/

$form-push-bottom:                  10px;

$form-label-error-color:            red;
$form-error-message:                red;
$form-error-border-color:           red;
$form-error-border-size:            1px;
$form-error-border-type:            solid;