/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  DESIGN VARIABLES
        Push Bottom
        Form Border Styles
        Error Styles
        Sizing
        Webkit Appearance
        Errors
 */





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

/**
 * ^Push Bottom
 */
$form-item-push-bottom:                 10px;


/**
 * ^Form Border Styles
 */
$form-item-border-color:                gray;
$form-item-border-size:                 1px;
$form-item-border-style:                solid;
$form-item-border-radius:               0px;


/**
 * ^Sizing
 */
$form-item-padding:                     4px 8px;
$form-item-height:                      35px;
$form-item-file-padding:                6px;

$form-spoken-padding:                   3px 4px;
$form-spoken-height:                    25px;

$form-textarea-height:                  150px;


/**
 * ^Webkit Appearance
 */
$form-webkit-appearance:                false;


/**
 * ^Errors
 */
$form-label-error-color:                red;
$form-error-message:                    red;
$form-error-border-color:               red;
$form-error-border-size:                1px;
$form-error-border-type:                solid;