/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  MODIFIER VARIABLES
 */





/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

$media--scroll:                     false;
$media--vimeo:                      true;
$media--instagram:                  true;
$media--vine:                       true;