/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  FORM GRID
 *  FORM WIDTH MODIFIERS
 *  SINGLE FORM FIELD MODIFIERS
 *  FORM GUTTER MODIFIERS
*/





/*------------------------------------*\
    !FORM GRID
\*------------------------------------*/

%form{
    margin-left: -1em;
    @extend %grid;

    > li{
        margin-bottom: $form-push-bottom;
        padding-left: 1em;
    }
}





/*------------------------------------*\
    !FORM WIDTH MODIFIERS
\*------------------------------------*/

%form--fit{
    > li{
        flex: 1;
    }
}

%form--full{
    > li{
        flex: 0 0 100%;
    }
}

%form--halves{
    > li{
        flex: 0 0 50%;
    }
}

%form--thirds{
    > li{
        flex: 0 0 33.3333%;
    }
}

%form--quarters{
    > li{
        flex: 0 0 25%;
    }
}

%form--fifths{
    > li{
        flex: 0 0 20%;
    }
}





/*------------------------------------*\
    !SINGLE FORM FIELD MODIFIERS
\*------------------------------------*/

/**
 * We can set individual form width with these extends.
 */
%form__item--full{
    flex: 0 0 100% !important;
}

%form__item--half{
    flex: 0 0 50% !important;
}

%form__item--third{
    flex: 0 0 33.3333% !important;
}

%form__item--quarter{
    flex: 0 0 25% !important;
}

%form__item--fifth{
    flex: 0 0 20% !important;
}





/*------------------------------------*\
    !FORM GUTTER MODIFIERS
\*------------------------------------*/

/**
 * The small settings are the default so they are not included
 * here. These others will override the small size default.
 */
%form-gutters-medium{
    margin-left: -1.5em;
    & > li {
        padding-left: 1.5em;
        margin-bottom: 1.5em;
    }
}

%form-gutters-large{
    margin-left: -2em;
    & > li {
        padding-left: 2em;
        margin-bottom: 2em;
    }
}

%form-gutters-xlarge{
    margin-left: -3em;
    & > li {
        padding-left: 3em;
        margin-bottom: 3em;
    }
}