/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  GENERAL
 *  CHECKBOXES & RADIOS
 *  FORM ERRORS
 *  INPUT INLINE
*/





/*------------------------------------*\
    !GENERAL
\*------------------------------------*/

[class^='form-']{
    > li > input,
    > li > textarea,
    > li > select{
        width: 100%;
        display: block;
    }
}

input,
select,
textarea{
    border: $form-item-border-style $form-item-border-size $form-item-border-color;
    padding: $form-item-padding;
    outline: none;
    height: $form-item-height;
    border-radius: $form-item-border-radius;

}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
textarea{
    cursor: text;
}

@if $spoken-form == true {
    .spoken-form input,
    .spoken-form select {
        padding: $form-spoken-padding;
        height: $form-spoken-height;
    }
}

@if $form-webkit-appearance == false {
    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select,
    textarea {
        -webkit-appearance: none;
    }

    @media (-webkit-min-device-pixel-ratio: 0) {
        select {
            background-image: url('images/select-arrow.svg');
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 1.67em;
        }
        .spoken-form select{
            padding-right: 10px;
        }
    }
}

input[type='file']{
    padding-top: $form-item-file-padding;
}

textarea{
    height: $form-textarea-height;
}






/*------------------------------------*\
    !CHECKBOXES & RADIOS
\*------------------------------------*/

.check-list,
.check-list--inline{
    list-style: none;
    margin: 0;
    padding: 0;
}

.check-list--inline{
    @extend %cf;

    li{
        float: left;
        margin-right: 10px;
    }
}

input[type='checkbox'],
input[type='radio']{
    height: auto;
}





/*------------------------------------*\
    !FORM ERRORS
\*------------------------------------*/

.form-error{
    > label,
    > .label{
        color: $form-label-error-color;
    }

    input[type="text"] {
        border: $form-error-border-type $form-error-border-color $form-error-border-size;
    }
}

.form-error__message{
    color: $form-error-message;
}





/*------------------------------------*\
    !INPUT INLINE
\*------------------------------------*/

@if $input-inline == true {
    .form-inline{
        margin: 0;
        padding: 0;
        list-style: none;

        label{
            display: block;
        }

        > li > input{
            width: auto;
            display: inline;
        }

        .btn{
            margin-left: -.27em;
            height: $form-item-height;
            padding: .25em 1em;
            line-height: 1;
            vertical-align: baseline;
        }
    }
}