/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  FORM RESPONSIVE MIXIN
        Forms One Col
        Forms Two Cols
        Forms Three Cols
        Forms Four Cols
        Forms Five Cols
 *  FORMS RESPONSIVE GUTTER MIXIN
        Forms Gutter Small
        Forms Gutter Medium
        Forms Gutter Large
        Forms Gutter xLarge
 *  GENERATE THE SILENT CLASSES
*/

/**
 *  Highly influenced by inuit.css from @csswizardry
 *  & Solved By Flexbox - Grids by @philwalton
 */





/*------------------------------------*\
    !FORM RESPONSIVE MIXIN
\*------------------------------------*/

/// Used to gernate all the placeholders needed for responsive forms.
/// This mixin will generate placeholders from the $breakpoint-has-widths variable.
/// If the var $use-silent-classes is false this mixing will generate classes instead of placeholders
/// @param {string} $namespace
/// @group forms
/// @access private
@mixin forms-device-type($namespace: ''){

    // The first call is for the entire form block
    // The second call is for individual form cells

    /**
     * ^Forms One Col
     */
    #{$class-type}form--#{$namespace}-full > li,
    #{$class-type}form__item--#{$namespace}-full{
        flex: 0 0 100% !important;
    }

    /**
     * ^Form Two Cols
     */
    #{$class-type}form--#{$namespace}-halves > li,
    #{$class-type}form__item--#{$namespace}-half{
        flex: 0 0 50% !important;
    }

    /**
     * ^Form Three Cols
     */
    #{$class-type}form--#{$namespace}-thirds > li,
    #{$class-type}form__item--#{$namespace}-third{
        flex: 0 0 33.3333% !important;
    }

    /**
     * ^Forms Four Cols
     */
    #{$class-type}form--#{$namespace}-quarters > li,
    #{$class-type}form__item--#{$namespace}-quarter{
        flex: 0 0 25% !important;
    }

    /**
     * ^Forms Five Cols
     */
    #{$class-type}form--#{$namespace}-fifths > li,
    #{$class-type}form__item--#{$namespace}-fifth{
        flex: 0 0 20% !important;
    }





    /*------------------------------------*\
        !RESPONSIVE FORMS GUTTER MIXIN
    \*------------------------------------*/

    /**
     * Forms Gutter Small
     */

    /**
     * There is no extend for Forms Gutter Small because it is
     * the default. Just don't extend any form gutters to get
     * it's size.
     */


    /**
     * Forms Gutter Medium
     */
    #{$class-type}form-gutters--#{$namespace}-medium{
        margin-left: -1.5em;

        & > li{
            margin-bottom: 1.5em;
            padding-left: 1.5em;
        }
    }


    /**
     * Forms Gutter Large
     */
    #{$class-type}form-gutters--#{$namespace}-large{
        margin-left: -2em;

        & > li{
            margin-bottom: 2em;
            padding-left: 2em;
        }
    }


    /**
     * Forms Gutter xLarge
     */
    #{$class-type}form-gutters--#{$namespace}-xlarge{
        margin-left: -3em;

        & > li{
            margin-bottom: 3em;
            padding-left: 3em;
        }
    }
}





/*------------------------------------*\
    !GENERATE THE SILENT CLASSES
\*------------------------------------*/

/**
 * Generate our responsive extends (or classes)
 */
@each $name in $breakpoint-has-widths{
    @include grid-media-query($name){
        @include forms-device-type('#{$name}');
    }
}
