/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * BASE
 * FIT
 * STACKED
 * CENTER
 * RIGHT
 * LEFT
 * SPACE BETWEEN
 * SPACE AROUND
 * KEYWORDS
 * BREADCRUMB
 */





/*------------------------------------*\
    $BASE
\*------------------------------------*/

%nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li{
        flex: 0 1 auto;

        > a{
            display: flex;
            align-items: flex-start;
            text-decoration: none;
        }
    }
}





/*------------------------------------*\
    $FIT
\*------------------------------------*/
 %nav--fit{
     > li{
         flex: 1 1 auto;
     }
 }





/*------------------------------------*\
    $STACKED
\*------------------------------------*/

%nav--stacked{
 flex-direction: column;
}





/*------------------------------------*\
    $CENTER
\*------------------------------------*/

%nav--center{
    justify-content: center;
}





/*------------------------------------*\
    $RIGHT
\*------------------------------------*/

%nav--right{
    justify-content: flex-end;
}





/*------------------------------------*\
    $LEFT
\*------------------------------------*/

%nav--left{
    justify-content: flex-start;
}





/*------------------------------------*\
    $SPACE BETWEEN
\*------------------------------------*/

%nav--space-between{
    justify-content: space-between;
}





/*------------------------------------*\
    $SPACE AROUND
\*------------------------------------*/

%nav--space-around{
    justify-content: space-around;
}





/*------------------------------------*\
    $KEYWORDS
\*------------------------------------*/

%nav--keywords{
    > li{
        &:after{
            content:", ";
        }

        &:last-child:after{
            display:none;
        }
    }
}





/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/

/**
 * Slightly modified version of the inuit.css breadcrumb object
 *
 * Extend %nav with these silent classes. Use %breadcrumb and
 * then stack the other two options on if you want them.

    .breadcrumb{
        @extend %nav;
        @extend %breadcrumb;
        @extend %breadcrumb--path
    }

    <ol class="breadcrumb">
        <li><a href="#">inuit.css</a></li>
        <li><a href="#">inuit.css</a></li>
        <li><a href="#">partials</a></li>
        <li class="current"><a href="#">objects</a></li>
    </ol>

 */

%breadcrumb{
    > li + li:before{
        content:"» ";
        float: left;
    }

    > li{
        > a{
            margin-right: $breadcrumb-a-right;
            margin-left: $breadcrumb-a-left;
        }
    }
}


/**
 * Breadcrumb Path
 */

%breadcrumb--path > li + li:before{
    content:"/ ";
}


/**
 * Breadcrumb Custom
 *
 * Assign a delimiter on the fly through a data attribute, e.g.:
 *
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li data-breadcrumb="|"><a href="#">About</a></li>
        <li data-breadcrumb="|"><a href="#">The Board</a></li>
        <li data-breadcrumb="|" class="current"><a href="#">Directors</a></li>
    </ol>
 */

%breadcrumb--custom{
    > li + li[data-breadcrumb]:before{
        content:attr(data-breadcrumb)" ";
        float: left;
    }
}





/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/

/**
 * Slightly modified version of the inuit.css pagination object
 *
   <ol class="nav  pagination">
       <li class="pagination__first">First</li>
       <li class="pagination__prev">Previous</li>
       <li><a href="/page/1">1</a></li>
       <li><a href="/page/2">2</a></li>
       <li class="current"><a href="/page/3">3</a></li>
       <li><a href="/page/4">4</a></li>
       <li><a href="/page/5">5</a></li>
       <li class="pagination__next"><a href="/page/next">Next</a></li>
       <li class="pagination__last"><a href="/page/last">Last</a></li>
   </ol>
 */

%pagination{
    text-align:center;

    > li{
        padding: $pagination-li-padding;

        > a{
            padding: $pagination-a-spacing;
            margin: -$pagination-a-spacing;
            display: block;
        }
    }

    > .pagination__first a:before{
        content:"« ";
    }

    > .pagination__last a:after{
        content:" »";
    }
}
