@if $use-tips == true {
    /*------------------------------------*\
        CONTENTS
    \*------------------------------------*/
    /**
     *  TIP BASE
     *  TIP FIXED WIDTH
     *  TIP POSITIONS
     *      Top Tip
     *      Bottom Tip
     *      Right Tip
     *      Left Tip
     */






    /*------------------------------------*\
        !TIP BASE
    \*------------------------------------*/

    .tip-container{
        display: inline;
        position: relative;
    }

    .tip{
        display: inline-block;
        position: absolute;
        width: auto;
        padding: $tip-padding;
        transition: $tip-transition;
        background: $tip-background-color;
        color: $tip-text-color;
        font-size: $tip-font-size;
        line-height: $tip-line-height;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        z-index: z('tip');
        transition-delay: 0ms;
    }

    .tip-trigger{
        cursor: pointer;
    }

    .tip__close{
        position: absolute;
        top: 0;
        right: -26px;
        height: 100%;
        padding: 6px 9px;
        transition: background-color .2s ease-in-out;
        background-color: $tip-close-background-color;
        cursor: pointer;
        color: $tip-close-text-color;
        font-size: 14px;

        &:hover{
            background-color: $tip-close-background-hover-color;
            color: $tip-close-text-hover-color;
        }
    }

    .tip--visible{
        opacity: 1;
        visibility: visible;
    }





    /*------------------------------------*\
        !TIP FIXED WIDTH
    \*------------------------------------*/

    @if $tip-enable-width == true{
        .tip--fixed-width{
            width: $tip-width;
            white-space: normal;
        }
    }





    /*------------------------------------*\
        !TIP POSITIONS
    \*------------------------------------*/

    /**
     *  ^Top
     */

    @if $tip-enable-top == true{
        .tip--top{
            top: $tip-top-position;
            right: 26px;
        }
    }

    /**
     *  ^Bottom
     */

    @if $tip-enable-bottom == true{
        .tip--bottom{
            right: 26px;
            bottom: $tip-bottom-position;
        }
    }

    /**
     *  ^Right
     */

    @if $tip-enable-right == true{
        .tip--right{
            top: -7px;
            right: $tip-right-position;
            width: $tip-width;
            white-space: normal;

            @include media-query(palm){
                top: $tip-bottom-position;
                right: 26px;
            }
        }
    }

    /**
     *  ^Left
     */

    @if $tip-enable-left == true{
        .tip--left{
            top: -7px;
            left: $tip-left-position;
            width: $tip-width;
            white-space: normal;

            @include media-query(palm){
                top: $tip-bottom-position;
                left: $tip-left-position + 16;
            }
        }
    }
}
