@if $use-tool-tips == true{
    /*------------------------------------*\
        CONTENTS
    \*------------------------------------*/
    /**
     *  TOOL TIP BASE
     *  TOOL TIP LOCATIONS
            Tool Tip Right
            Tool Tip Bottom
     */





    /*------------------------------------*\
        !TOOL TIP BASE
    \*------------------------------------*/

    .tool-tip{
        position: relative;
        float: right;
        cursor: pointer;
        color: #b8b8b8;

        .tool-tip__container{
            @include absolute();
            width: 200px;
            padding: 10px 15px;
            background-color: $tool-tip-bg-color;
            cursor: default;
            color: $tool-tip-text-color;
            text-transform: none;
            opacity: 0;
            visibility: hidden;
            z-index: z(tool-tip__container);
        }

        .tool-tip__close{
            @include position(right 0 bottom 0);
            padding: $tool-tip-close-padding;
            background-color: $tool-tip-close-background;
            cursor: pointer;
            color: $tool-tip-close-color;
        }
    }

    // Active State
    .tool-tip--active .tool-tip__container{
        opacity: 1;
        visibility: visible;
    }





    /*------------------------------------*\
        !TOOL TIP LOCATIONS
    \*------------------------------------*/

    /**
     * ^Tool Tip Right
     */
    @if $tool-tip--right == true{
        .tool-tip--right{
            > .tool-tip__container{
                @include arrow(left, top, $tool-tip-bg-color);
                top: $tool-tip--right-top;
                left: $tool-tip--right-start;
                transition: visibility 2s ease-in, opacity .3s ease-in, left .3s ease-in;

                @include media-query(portable){
                    top: $tool-tip--right-top--portable;
                    left: $tool-tip--right-left--portable !important;

                    &:before,
                    &:after{
                        border-right-color: transparent !important;
                    }
                }
            }
        }

        // Active State
        .tool-tip--right.tool-tip--active .tool-tip__container{
            left: $tool-tip--right-end;
        }
    }


    /**
     * ^Tool Tip Bottom
     */
    @if $tool-tip--bottom == true{
        .tool-tip--bottom{
            > .tool-tip__container{
                @include arrow(top, right, $tool-tip-bg-color);
                top: $tool-tip--bottom-start;
                left: $tool-tip--bottom-left;
                transition: visibility 2s ease-in, opacity .3s ease-in, top .3s ease-in;

                @include media-query(portable){
                    left: $tool-tip--bottom-left--portable !important;
                }
            }
        }

        // Active State
        .tool-tip--bottom.tool-tip--active .tool-tip__container{
            top: $tool-tip--bottom-end;
        }
    }
}
