/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * GENERAL
 * CHECKBOXES & RADIOS
 * TEXTAREA
*/





/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

[class^='form-']{
//    > li > label,
//    > li > .label,
    > li > input[type="text"],
    > li > input[type="number"],
    > li > input[type="date"],
    > li > textarea,
    > li > select{
        width: 100%;
        display: block;
    }
}





/*------------------------------------*\
    $CHECKBOXES & RADIOS
\*------------------------------------*/

.check-list,
.check-list--inline{
    list-style: none;
    margin: 0;
    padding: 0;
}

.check-list--inline{
    @extend %cf;

    li{
        float: left;
        margin-right: 10px;
    }
}




/*------------------------------------*\
    $TEXTAREA
\*------------------------------------*/

textarea{
    height: 100px;
}