@if $use-notifications == true{
    /*------------------------------------*\
        CONTENTS
    \*------------------------------------*/
    /**
     *  NOTIFICATION BASE
            Message Title
            Message Content
     *  NOTIFICATION COLORS
     *  NOTIFICATION POSITIONS
            Bottom Right
            Bottom Left
            Top Right
            Top Left
     */





    /*------------------------------------*\
        !NOTIFICATION BASE
    \*------------------------------------*/

    .notification-wrapper{
        position: fixed;
        width: $notification-width;
        font-size: $notification-font-size;
        z-index: z('notification-wrapper');

        @include media-query(palm){
            width: auto;
        }
    }

    .notification{
        width: 100%;
        min-height: 80px;
        color: #FFF;
    }


    /**
     * ^Message Title
     */
    .notification__title-bar{
        display: flex;
        width: 100%;
        padding: $notification-padding;
    }

    .notification-title{
        margin: 0;
        padding: 0;
    }

    .notification-close-btn{
        display: flex;
        align-items: center;
        margin-left: auto;
        cursor: pointer;
        color: $notification-close-color;

        &:hover{
            color: $notification-close-color-hover;
        }
    }


    /**
     * ^Message Content
     */
    .notification-content{
        padding: $notification-padding;
    }

    .notification-content a{
        text-decoration: underline;
    }

    .notification-text{
        width: 100%;
        margin: 0;
    }





    /*------------------------------------*\
        !NOTIFICATION COLORS
    \*------------------------------------*/

    .notification{
        @each $key, $value in $notification-colors{
            &--#{$key}{
                @include print-notification-colors($notification-colors, $key);
            }
        }
    }






    /*------------------------------------*\
        !POSITIONS
    \*------------------------------------*/

    /**
     * ^Bottom Right
     */
    @if $notification-bottom-right == true{
        .notification-wrapper--bottom-right{
            right: $notification-space-from-edge;
            bottom: $notification-space-from-edge;

            @include media-query(palm){
                right: 0;
                width: 100%;
            }

            .notification{
                margin-top: $notification-space-from-edge;
            }
        }
    }


    /**
     * ^Bottom Left
     */
    @if $notification-bottom-left == true{
        .notification-wrapper--bottom-left{
            bottom: $notification-space-from-edge;
            left: $notification-space-from-edge;

            @include media-query(palm){
                left: 0;
                width: 100%;
            }

            .notification{
                margin-top: 10px;
            }
        }
    }


    /**
     * ^Top Right
     */
    @if $notification-top-right == true{
        .notification-wrapper--top-right{
            top: $notification-space-from-edge;
            right: $notification-space-from-edge;

            @include media-query(palm){
                right: 0;
                width: 100%;
            }

            .notification{
                margin-bottom: 10px;
            }
        }
    }


    /**
     * ^Top Left
     */
    @if $notification-top-left == true{
        .notification-wrapper--top-left{
            top: $notification-space-from-edge;
            left: $notification-space-from-edge;

            @include media-query(palm){
                left: 0;
                width: 100%;
            }

            .notification{
                margin-bottom: 10px;
            }
        }
    }
}
