/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  PRINT NOTIFICATION COLORS
 */





/*------------------------------------*\
    !PRINT NOTIFICATION COLORS
\*------------------------------------*/

/// Get all the breakpoints that will be used in our responsive grids.
/// @group notifications
/// @access private
/// @param {map} $map
/// @param {string} $keys
@mixin print-notification-colors($map, $keys...){
    $i: 1;
    $length: length($keys);
    @while $length >= $i{
        $map: map-get($map, nth($keys, $i));
        $i: $i + 1;
    }

    @each $property, $value in $map{
        @if $property == 'background'{
            background: $value;
        } @else if $property == 'color'{
            color: $value;
        } @else if $property == 'title-bar-background'{
            .notification__title-bar{
                background: $value;
            }
        } @else if $property == 'title-bar-color'{
            .notification__title-bar{
                color: $value;
            }
        }
    }
}

