/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  GRID RESPONSIVE WIDTH MIXIN
        Width Whole
        Width Half
        Width Third
        Width Quarter
        Width Fifth
 *  GRID RESPONSIVE GUTTER MIXIN
        Gutter Small
        Gutter Medium
        Gutter Large
        Gutter xLarge
 *  GENERATE THE SILENT CLASSES
        Generate our fixed width extends (or classes)
        Generate our responsive extends (or classes)
*/

/**
 *  Highly influenced by inuit.css from @csswizardry
 *  & Solved By Flexbox - Grids by @philwalton
 */

////
/// @group grids
/// @access private
////





/*------------------------------------*\
    !GRID RESPONSIVE WIDTH MIXIN
\*------------------------------------*/

/**
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */

/// Get all the breakpoints that will be used in our responsive grids.
/// @param {string} $media-query
@mixin grid-media-query($media-query){
    $breakpoint-found: false;

    @each $breakpoint in $breakpoints{
        $name: nth($breakpoint, 1);
        $declaration: nth($breakpoint, 2);

        @if $media-query == $name and $declaration{
            $breakpoint-found: true;

            @media only screen and #{$declaration}{
                @content;
            }
        }
    }

    @if $breakpoint-found == false{
        @warn "Breakpoint ‘#{$media-query}’ does not exist"
    }
}


/**
 * Create our width & gutter extends (or classes), prefixed by the specified namespace.
 */

/// Used to gernate all the placeholders needed for responsive grids.
/// This mixin will generate placeholders from the $breakpoint-has-widths variable.
/// If the var $use-silent-classes is false this mixing will generate classes instead of placeholders
/// @param {string} $namespace
@mixin device-type($namespace:''){

    // The first call is for the entire grid block
    // The second call is for individual grid cells

    /**
     * ^Width Whole
     */
    #{$class-type}grid--#{$namespace}-full > div[class^='gc-'],
    #{$class-type}grid__item--#{$namespace}-full{
        flex: 0 0 100% !important;
    }


    /**
     * ^Width Half
     */
    #{$class-type}grid--#{$namespace}-halves > div[class^='gc-'],
    #{$class-type}grid__item--#{$namespace}-half{
        flex: 0 0 50% !important;
    }


    /**
     * ^Width Third
     */
    #{$class-type}grid--#{$namespace}-thirds > div[class^='gc-'],
    #{$class-type}grid__item--#{$namespace}-third{
        flex: 0 0 33.3333% !important;
    }


    /**
     * ^Width Quarter
     */
    #{$class-type}grid--#{$namespace}-quarters > div[class^='gc-'],
    #{$class-type}grid__item--#{$namespace}-quarter{
        flex: 0 0 25% !important;
    }


    /**
     * ^Width Fifth
     */
    #{$class-type}grid--#{$namespace}-fifths > div[class^='gc-'],
    #{$class-type}grid__item--#{$namespace}-fifth{
        flex: 0 0 20% !important;
    }





    /*------------------------------------*\
        !GRID RESPONSIVE GUTTER MIXIN
    \*------------------------------------*/

    /**
     * ^Gutter Small
     */
    #{$class-type}gutters--#{$namespace}-small{
        margin-left: -1em;

        & > div[class^='gc-']{
            margin-bottom: 1em;
            padding-left: 1em;
        }
    }


    /**
     * ^Gutter Medium
     */
    #{$class-type}gutters--#{$namespace}-medium{
        margin-left: -1.5em;

        & > div[class^='gc-']{
            margin-bottom: 1.5em;
            padding-left: 1.5em;
        }
    }


    /**
     * ^Gutter Large
     */
    #{$class-type}gutters--#{$namespace}-large{
        margin-left: -2em;

        & > div[class^='gc-']{
            margin-bottom: 2em;
            padding-left: 2em;
        }
    }


    /**
     * ^Gutter xLarge
     */
    #{$class-type}gutters--#{$namespace}-xlarge{
        margin-left: -3em;

        & > div[class^='gc-']{
            margin-bottom: 3em;
            padding-left: 3em;
        }
    }

}





/*------------------------------------*\
    !GENERATE THE SILENT CLASSES
\*------------------------------------*/

/**
 * ^Generate our center grid extends (or classes)
 */
@each $width in $grid-center-widths{
    #{$class-type}grid--center-#{$width}{
        max-width: #{$width}px;
        margin: 0 auto;
    }
}


/**
 * ^Generate our fixed width grid__item extends (or classes)
 */
@each $width in $grid-item-fixed-widths{
    #{$class-type}grid__item--fixed-#{$width}{
        flex: none !important;
        width: #{$width}px;
    }
}


/**
 * ^Generate our responsive extends (or classes)
 */
@each $name in $breakpoint-has-widths{
    @include grid-media-query($name){
        @include device-type('#{$name}');
    }
}
