@if $use-grids == true{
    /*------------------------------------*\
        CONTENTS
    \*------------------------------------*/
    /**
     *  GRID DEFAULT
     *  FLEX CELLS MODIFIER
     *  GRID WIDTH MODIFIERS
     *  GRID SINGLE WIDTH MODIFIERS
     *  GRID GUTTER MODIFIERS
     *  GRID ALIGNMENT MODIFIERS
     *  GRID SINGLE ALIGNMENT MODIFIERS
    */

    /**
     *  Highly influenced by inuit.css from @csswizardry
     *  & Solved By Flexbox - Grids by @philwalton
     */

////
/// @group grids
////





    /*------------------------------------*\
        !GRID DEFAULT
    \*------------------------------------*/

/// Base placeholder for building grids.
    %grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }

/// Base placeholder for grid items.
/// @require {placeholder} %grid
    %grid__item{
        flex: 1;
    }





    /*------------------------------------*\
        !FLEX CELLS MODIFIER
    \*------------------------------------*/

/// Placeholder that will make all cells the same height.
/// @require {placeholder} %grid
    %grid--flex-cells{
        & > div[class^='gc-']{
            display: flex;
        }
    }





    /*------------------------------------*\
        !GRID WIDTH MODIFIERS
    \*------------------------------------*/

/// A placeholder that will make all cells fit on one row.
/// @require {placeholder} %grid
    %grid--fit{
        > div[class^='gc-']{
            flex: 1;
        }
    }

/// A placeholder that will make all cells in a grid have a width of 100%.
/// @require {placeholder} %grid
    %grid--full{
        > div[class^='gc-']{
            flex: 0 0 100%;
        }
    }

/// A placeholder that will make all cells in a grid have a width of 50%.
/// @require {placeholder} %grid
    %grid--halves{
        > div[class^='gc-']{
            flex: 0 0 50%;
        }
    }

/// A placeholder that will make all cells in a grid have a width of 33.33%.
/// @require {placeholder} %grid
    %grid--thirds{
        > div[class^='gc-']{
            flex: 0 0 33.3333%;
        }
    }

/// A placeholder that will make all cells in a grid have a width of 25%.
/// @require {placeholder} %grid
    %grid--quarters{
        > div[class^='gc-']{
            flex: 0 0 25%;
        }
    }

/// A placeholder that will make all cells in a grid have a width of 20%.
/// @require {placeholder} %grid
    %grid--fifths{
        > div[class^='gc-']{
            flex: 0 0 20%;
        }
    }





    /*------------------------------------*\
        !GRID SINGLE WIDTH MODIFIERS
    \*------------------------------------*/

/// A placeholder that will make an individual cell in a grid have a width of 100%.
/// @require {placeholder} %grid__item
    %grid__item--full{
        flex: 0 0 100% !important;
    }

/// A placeholder that will make an individual cell in a grid have a width of 50%.
/// @require {placeholder} %grid__item
    %grid__item--half{
        flex: 0 0 50% !important;
    }

/// A placeholder that will make an individual cell in a grid have a width of 33.33%.
/// @require {placeholder} %grid__item
    %grid__item--third{
        flex: 0 0 33.3333% !important;
    }

/// A placeholder that will make an individual cell in a grid have a width of 25%.
/// @require {placeholder} %grid__item
    %grid__item--quarter{
        flex: 0 0 25% !important;
    }

/// A placeholder that will make an individual cell in a grid have a width of 20%.
/// @require {placeholder} %grid__item
    %grid__item--fifth{
        flex: 0 0 20% !important;
    }





    /*------------------------------------*\
        !GRID GUTTER MODIFIERS
    \*------------------------------------*/

/// A placeholder that will make the gutters of a grid be small.
/// @require {placeholder} %grid
    %gutters-small{
        margin-left: -1em;

        & > div[class^='gc-']{
            margin-bottom: 1em;
            padding-left: 1em;
        }
    }

/// A placeholder that will make the gutters of a grid be medium.
/// @require {placeholder} %grid
    %gutters-medium{
        margin-left: -1.5em;

        & > div[class^='gc-']{
            margin-bottom: 1.5em;
            padding-left: 1.5em;
        }
    }

/// A placeholder that will make the gutters of a grid be large.
/// @require {placeholder} %grid
    %gutters-large{
        margin-left: -2em;

        & > div[class^='gc-']{
            margin-bottom: 2em;
            padding-left: 2em;
        }
    }

/// A placeholder that will make the gutters of a grid be xlarge.
/// @require {placeholder} %grid
    %gutters-xlarge{
        margin-left: -3em;

        & > div[class^='gc-']{
            margin-bottom: 3em;
            padding-left: 3em;
        }
    }





    /*------------------------------------*\
        !GRID ALIGNMENT MODIFIERS
    \*------------------------------------*/

/// A placeholder that will make all cells in a grid align to the top.
/// @require {placeholder} %grid
    %grid--top{
        align-items: flex-start;
    }

/// A placeholder that will make all cells in a grid align to the bottom.
/// @require {placeholder} %grid
    %grid--bottom{
        align-items: flex-end;
    }

/// A placeholder that will make all cells in a grid align to the center.
/// @require {placeholder} %grid
    %grid--center{
        align-items: center;
    }





    /*------------------------------------*\
        !GRID SINGLE ALIGNMENT MODIFIERS
    \*------------------------------------*/

/// A placeholder that will make an individual cell in a grid be aligned to the top.
/// @require {placeholder} %grid__item
    %grid__item--top{
        align-self: flex-start;
    }

/// A placeholder that will make an individual cell in a grid be aligned to the bottom.
/// @require {placeholder} %grid__item
    %grid__item--bottom{
        align-self: flex-end;
    }

/// A placeholder that will make an individual cell in a grid be aligned to the center.
/// @require {placeholder} %grid__item
    %grid__item--center{
        align-self: center;
    }
}
