/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USE ARROWS
 *  DESIGN VARIABLES
 */





/*------------------------------------*\
    !USE ARROWS
\*------------------------------------*/

$use-arrows:                        true;





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

$arrow-size:                        10px;
$arrow-border:                      1;
$border:                            $arrow-size;
$arrow:                             $arrow-size - $arrow-border;