/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  COLORS
 *  GRAYS
 */





/*------------------------------------*\
    !COLORS
\*------------------------------------*/

$primary:                           red;
$secondary:                         blue;





/*------------------------------------*\
    !GRAYS
\*------------------------------------*/

$gray-light:                        #ddd;
$gray:                              #999;
$gray-dark:                         #666;