/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USE ICONS
 *  DESIGN VARIABLES
 */





/*------------------------------------*\
    !USE ICONS
\*------------------------------------*/

$use-icons:                         true;





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

// make sure to use em when sizing so they
// can scale to how they are being used.
$icon-defualt-size:                 .8em;
$icon-default-color:                black;
$icon-header-vertical-align:        -.05em;
$icon-close-notification-size:      1.0em;