/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  REQUIREMENTS
 *  USE ICONS
 *  DESIGN VARIABLES
 */





/*------------------------------------*\
    !REQUIREMENTS
\*------------------------------------*/

// Iconic is used for icons. You will need to
// download your own version of Iconic and use
// the library as they direct. Then these
// styles will be of use.
// See useiconic.com




/*------------------------------------*\
    !USE ICONS
\*------------------------------------*/

$use-icons:                         true;





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

// make sure to use em when sizing so they
// can scale to how they are being used.
$icon-default-size:                 .8em;
$icon-default-color:                black;
$icon-header-vertical-align:        -.05em;
$icon-close-notification-size:      1.0em;