/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USE LIST
 *  DESIGN VARIABLES
 *  MODIFIER VARIABLES
 */





/*------------------------------------*\
    !USE LIST
\*------------------------------------*/

$use-list:                          true;





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

$list-colored-color:                red;
$list-colored-padding-left:         40px;





/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

$list-no-bullets:                   true;
$list-colored:                      true;