/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USE MEDIA
 *  MODIFIER VARIABLES
 */





/*------------------------------------*\
    !USE MEDIA
\*------------------------------------*/

$use-media:                         true;





/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

$media--scroll:                     false;
$media--vimeo:                      false;
$media--instagram:                  false;
$media--vine:                       false;