@if $use-dialog == true{
    /*------------------------------------*\
        CONTENTS
    \*------------------------------------*/
    /**
     *  BASE
     */





    /*------------------------------------*\
        !BASE
    \*------------------------------------*/

    /**
     * https://github.com/hubspot/vex
     * All these styles are used by the vex javascript.
     * To style Vex see the ui/_dialogs.scss file.
     */

    @keyframes vex-fadein{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    @-webkit-keyframes vex-fadein{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    @-moz-keyframes vex-fadein{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    @-ms-keyframes vex-fadein{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    @-o-keyframes vex-fadein{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    @keyframes vex-fadeout{
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }

    @-webkit-keyframes vex-fadeout{
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }

    @-moz-keyframes vex-fadeout{
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }

    @-ms-keyframes vex-fadeout{
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }

    @-o-keyframes vex-fadeout{
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }

    @keyframes vex-rotation{
        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(359deg);
        }
    }

    @-webkit-keyframes vex-rotation{
        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(359deg);
        }
    }

    @-moz-keyframes vex-rotation{
        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(359deg);
        }
    }

    @-ms-keyframes vex-rotation{
        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(359deg);
        }
    }

    @-o-keyframes vex-rotation{
        //noinspection ALL
        0%{
            transform: rotate(0deg);
        }

        //noinspection SassScssUnresolvedFunction
        100%{
            transform: rotate(359deg);
        }
    }

    .vex{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        z-index: z(vex);
        -webkit-overflow-scrolling: touch;
    }

    .vex-overlay{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $modal-overlay-background-color;
        animation: vex-fadein .5s;
        -webkit-backface-visibility: hidden;
    }

    .vex.vex-closing .vex-overlay{
        animation: vex-fadeout .5s;
        -webkit-backface-visibility: hidden;
    }

    .vex-content{
        background: #fff;
        animation: vex-fadein .5s;
        -webkit-backface-visibility: hidden;
    }

    .vex.vex-closing .vex-content{
        animation: vex-fadeout .5s;
        -webkit-backface-visibility: hidden;
    }

    .vex-close:before{
        font-family: Arial, sans-serif;
        content: '\00D7';
    }

    .vex-dialog-form{
        margin: 0;
    }

    .vex-dialog-button{
        cursor: pointer;
        -webkit-appearance: none;
    }

    .vex-loading-spinner{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 2em;
        height: 2em;
        margin: auto;
        background: #fff;
        box-shadow: 0 0 1em rgba(0, 0, 0, .1);
        z-index: (z(vex) + 1);
        animation: vex-rotation .7s linear infinite;
        -webkit-backface-visibility: hidden;
    }

    .vex-open{
        overflow: hidden;
    }
}
