/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * $MODAL STRUCTURE
 */





/*------------------------------------*\
    $MODAL STRUCTURE
\*------------------------------------*/

.md-modal {
    position: fixed;
    top: 15%;
    left: 30%;
    width: 40%;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    display: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    iframe{
        width: 100%;
        height: 550px;

        @media (max-height: 900px) {
            height: 300px;
        }

        @include media-query(palm) {
            height: 250px;
        }
    }

    @include media-query(palm) {
        width: 100%;
        left: 0%;
        top: 0%;
    }
}



.md-modal .btn.float--left{
    float: left !important;
}

.md-modal .btn.float--right{
    float: right !important;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(31,31,31,0.8);
    display: none;
    @include transition (all .3s);
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}





/**
 * Modal Header
 */
.modal-header{
    background-color: red;
    color: white;
    padding: 1em 2em;
    margin-bottom: 1em;

    h3{
        text-align: center;
        color: white;
    }
}

.modal-header--color3{
    background-color: blue;
}

/**
 * Modal Body
 */
.modal-body{
    padding-left: 2em;
    padding-right: 2em;

    .multi-list li:last-child{
        margin-bottom: 24px !important;
    }

    .single-col li{
        width: 100%;
    }
}

/**
 * Modal Footer
 */
.modal-footer{
    border-top: solid 1px darkslategray;
    padding: 1.3em 2em;
    @extend .cf;

    .btn{
        margin-bottom: 0;
    }

    @media only screen and (max-width: 1400px) {
        .btn.float--left,
        .btn.float--right{
            float: none !important;
            margin-bottom: 5px;
            margin-right: 5px;
        }
    }
}

.modal-close{
    bottom: 13px;
    right: 2.5em !important;
    position: absolute !important;

    &:before{
        content: "Close" !important;
    }
}






/*------------------------------------*\
    $MODAL WIDTHS
\*------------------------------------*/

.md-modal--wide{
    width: 60%;
    left: 20%;

    @include media-query(portable) {
        top: 2%;
    }

    @include media-query(palm) {
        left: 0%;
        top: 0%;
    }

}

.md-modal--narrow{
    width: 30%;
    left: 35%;

    @include media-query(palm) {
        left: 0%;
    }
}





/*------------------------------------*\
    $MODAL ANIMATIONS
\*------------------------------------*/

// Effect 1: Fade in and scale up
.md-effect-1 .vex-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-1 .vex-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

// Effect 2: Slide from the right
//.md-effect-2 .vex-content {
//    -webkit-transform: translateX(20%);
//    -moz-transform: translateX(20%);
//    -ms-transform: translateX(20%);
//    transform: translateX(20%);
//    opacity: 0;
//    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
//    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
//    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
//}
//
//.md-show.md-effect-2 .vex-content {
//    -webkit-transform: translateX(0);
//    -moz-transform: translateX(0);
//    -ms-transform: translateX(0);
//    transform: translateX(0);
//    opacity: 1;
//}


// Effect 3: 3D flip horizontal
//.md-effect-3.md-modal {
//    -webkit-perspective: 1300px;
//    -moz-perspective: 1300px;
//    perspective: 1300px;
//}
//
//.md-effect-3 .vex-content {
//    -webkit-transform-style: preserve-3d;
//    -moz-transform-style: preserve-3d;
//    transform-style: preserve-3d;
//    -webkit-transform: rotateY(-70deg);
//    -moz-transform: rotateY(-70deg);
//    -ms-transform: rotateY(-70deg);
//    transform: rotateY(-70deg);
//    -webkit-transition: all 0.3s;
//    -moz-transition: all 0.3s;
//    transition: all 0.3s;
//    opacity: 0;
//}
//
//.md-show.md-effect-3 .vex-content {
//    -webkit-transform: rotateY(0deg);
//    -moz-transform: rotateY(0deg);
//    -ms-transform: rotateY(0deg);
//    transform: rotateY(0deg);
//    opacity: 1;
//}

// Effect 4: 3D flip vertical
//.md-effect-9.md-modal {
//    -webkit-perspective: 1300px;
//    -moz-perspective: 1300px;
//    perspective: 1300px;
//}
//
//.md-effect-4 .vex-content {
//    -webkit-transform-style: preserve-3d;
//    -moz-transform-style: preserve-3d;
//    transform-style: preserve-3d;
//    -webkit-transform: rotateX(-70deg);
//    -moz-transform: rotateX(-70deg);
//    -ms-transform: rotateX(-70deg);
//    transform: rotateX(-70deg);
//    -webkit-transition: all 0.3s;
//    -moz-transition: all 0.3s;
//    transition: all 0.3s;
//    opacity: 0;
//}
//
//.md-show.md-effect-4 .vex-content {
//    -webkit-transform: rotateX(0deg);
//    -moz-transform: rotateX(0deg);
//    -ms-transform: rotateX(0deg);
//    transform: rotateX(0deg);
//    opacity: 1;
//}


// Effect 5: Super scaled
//.md-effect-5 .vex-content {
//    -webkit-transform: scale(2);
//    -moz-transform: scale(2);
//    -ms-transform: scale(2);
//    transform: scale(2);
//    opacity: 0;
//    -webkit-transition: all 0.3s;
//    -moz-transition: all 0.3s;
//    transition: all 0.3s;
//}
//
//.md-show.md-effect-5 .vex-content {
//    -webkit-transform: scale(1);
//    -moz-transform: scale(1);
//    -ms-transform: scale(1);
//    transform: scale(1);
//    opacity: 1;
//}

