/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * USAGE
 * BASE
 * ALIGNMENT
*/





/*------------------------------------*\
    !BASE
\*------------------------------------*/

table{
    width:100%;
}
th,
td{
    padding:15px;
    @media screen and (min-width:480px){
        padding:7px;
    }
    text-align:left;
}





/*------------------------------------*\
    !ALIGNMENT
\*------------------------------------*/

[colspan]{
    text-align:center;
}
[colspan="1"]{
    text-align:left;
}
[rowspan]{
    vertical-align:middle;
}
[rowspan="1"]{
    vertical-align:top;
}