/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  DESIGN VARIABLES
 *  MODIFIER VARIABLES
        Button Sizes
        Button Types
        Button Colors
 *  IMPORTS
 *  DEFINE BUTTONS
 */





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

$btn-size-ratio:                    1.2;
$btn-padding-sides:                 1.3em;
$btn-default-font-size:             100%;
$btn-border-size:                   1px;  // Is only used if  border-color is set in the color map below






/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

/**
 * ^Button Sizes
 */
$btn--large:                        false;
$btn--small:                        false;
$btn--block:                        false;

/**
 * ^Button Types
 */
$btn--natural:                      false;
$btn--disabled:                     false;

/**
 * ^Button Colors
 */
$button-colors: (
    primary: (
        background: red,
        border-color: black,
        color: white,
        background-hover: blue
    ),
    secondary: (
        background: green,
        color: black,
        background-hover: purple
    )
);




/*------------------------------------*\
    !IMPORTS
\*------------------------------------*/

@import "../objects/buttons/button-mixins";
@import "../objects/buttons/button-object";





/*------------------------------------*\
    !DEFINE BUTTONS
\*------------------------------------*/

