/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  IMPORTS
 *  FORMS
 *  FORM ERRORS
 *  FORM HELP
 */





/*------------------------------------*\
    !IMPORTS
\*------------------------------------*/

@import "../objects/forms/forms-extends";
@import "../objects/forms/forms-mixins";
@import "../objects/forms/forms-base";





/*------------------------------------*\ 
    !FORMS
\*------------------------------------*/

/* Add classes here to extend the different columns your
 * project will need. The classes need to start with .form-
 * For example .form-three-cols
 * You can then optionally include one of these:
 * %form--fit
 * %form--full
 * %form--halves
 * %form--thirds
 * %form--quarters
 * %form--fifths
 */

.form-thirds{
    @extend %form;
    @extend %form--thirds;
}

.form-quarters{
    @extend %form;
    @extend %form--quarters;
    @extend %form--palm-full;
//    @extend %form-gutters-xlarge;
//    @extend %form-gutters--portable-xlarge;
}




.form-item-half{
    @extend %form__item--half;
}





/*------------------------------------*\
    !FORM ERRORS
\*------------------------------------*/

.form-error{
    > label,
    > .label{
        color: red;
    }

    input[type="text"] {
        border: solid red 1px;
    }
}

.form-error__message{
    color: red;
}