/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  DESIGN VARIABLES
        Backgrounds
        Header
        Body
        Footer
 *  MODIFIER VARIABLES
        Sizes
        Animations
 *  IMPORTS
 */





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

/**
 * ^Backgrounds
 */
$modal_background_color:            white;
$modal_overlay_background_color:    rgba(31,31,31,0.8);


/**
 * ^Header
 */
$modal_header_background_color:     black;
$modal_header_text_color:           white;
$modal_header_padding:              1em 2em;
$modal_header_margin_bottom:        1em;


/**
 * ^Body
 */
$modal_body_padding:                0 2em;


/**
 * ^Footer
 */
$modal_footer_border_top:           solid 1px gray;
$modal_footer_padding:              1.3em 2em;





/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

/**
 * ^Sizes
 */
$modal--wide:                       true;
$modal--narrow:                     true;


/**
 * ^Animations
 */
$modal--scale-up:                   true;
$modal--slide-right:                false;
$modal--3d-flip-horizontal:         false;
$modal--3d-flip-vertical:           false;
$modal--super-scaled:               false;





/*------------------------------------*\
    !IMPORTS
\*------------------------------------*/

@import "../objects/modals/modal-object";