/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  DESIGN VARIABLES
 *  MODIFIER VARIABLES
 *  IMPORTS
 *  NAVS
 */





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

$pagination-li-padding:         12px;
$pagination-a-spacing:          12px;

$breadcrumb-a-right:            10px;
$breadcrumb-a-left:             13px;





/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

/**
 * ^Orientation
 */
$nav--fit:                      false;
$nav--stacked:                  false;
$nav--center:                   false;
$nav--right:                    false;
$nav--left:                     true;
$nav--space-between:            false;
$nav--space-around:             false;


/**
 * ^Type
 */
$nav--keywords:                 true;
$nav--pagination:               true;
$nav--breadcrumb:               true;
$nav--breadcrumb--path:         true;
$nav--breadcrumb--custom:       false;




/*------------------------------------*\
    !IMPORTS
\*------------------------------------*/

@import "../objects/navs/nav-object";





/*------------------------------------*\
    !NAVS
\*------------------------------------*/

.nav--main{
    > li{
        > a{

            // margin-left: 15px; // use when ul has justify-content: flex-end;
            // margin-right: 15px; // use when ul justify-content: flex-start;
            margin: 0px 7px; // use when ul has justify-content: center;

            background-color: red;
            padding: 12px;
        }
    }
}