/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 * VARS
 * IMPORTS
 * NAVS
 */





/*------------------------------------*\
    $VARS
\*------------------------------------*/

$pagination-li-padding:         12px;
$pagination-a-spacing:          12px;

$breadcrumb-a-right:            10px;
$breadcrumb-a-left:             13px;




/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/

@import "../partials/navs/navs-extends";





/*------------------------------------*\
    $NAVS
\*------------------------------------*/

.nav-main{
    @extend %nav;
    @extend %nav--left;

    > li{
        > a{

            // margin-left: 15px; // use when ul has justify-content: flex-end;
            // margin-right: 15px; // use when ul justify-content: flex-start;
            margin: 0px 7px; // use when ul has justify-content: center;

            background-color: red;
            padding: 12px;
        }
    }

}

.breadcrumb{
    @extend %nav;
    @extend %breadcrumb;
    @extend %breadcrumb--path;


}

.pagination{
    @extend %nav;
    @extend %pagination;
}