/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  VARIABLES
        Tool Tip Right
        Tool Tip Bottom
 *  IMPORTS
 *  TOOL TIP RIGHT
 *  TOOL TIP BOTTOM
 *  TOOL TIP CONTAINER
 *  TOOL TIP CLOSE BUTTON
 */





/*------------------------------------*\
    !VARIABLES
\*------------------------------------*/

$tool-tip-bg-color:                  green;

/**
 * ^Tool Tip Right
 */
// Will animate from the right slightly leftwards;
$tool-tip--right-start:              40px;
$tool-tip--right-end:                35px;
$tool-tip--right-top:               -19px;

// Position under portable media query
$tool-tip--right-top--portable:      21px;
$tool-tip--right-left--portable:    -191px;


/**
 * ^Tool Tip Bottom
 */
// Will animate from the bottom slightly upwards;
$tool-tip--bottom-start:            60px;
$tool-tip--bottom-end:              55px;
$tool-tip--bottom-left:            -179px;

// Position under portable media query
$tool-tip--bottom-top--portable:   $tool-tip--right-top--portable;
$tool-tip--bottom-left--portable:  $tool-tip--right-left--portable;





/*------------------------------------*\
    !IMPORTS
\*------------------------------------*/

@import "../objects/tool-tips/tool-tip-extends";





/*------------------------------------*\
    !TOOLTIP RIGHT
\*------------------------------------*/

.tool-tip-right{
    @extend %tool-tip;
    @extend %tool-tip--right;
}





/*------------------------------------*\
    !TOOLTIP BOTTOM
\*------------------------------------*/

.tool-tip-bottom{
    @extend %tool-tip;
    @extend %tool-tip--bottom;
}





/*------------------------------------*\
    !TOOL TIP CONTAINER
\*------------------------------------*/

.tool-tip__container{
    // Your styles go here
    background-color: $tool-tip-bg-color;
    color: white;
}





/*------------------------------------*\
    !TOOL TIP CLOSE BUTTON
\*------------------------------------*/

.tool-tip__close{
    // Your styles here
    background-color: black;
    color: white;
    padding: 3px 10px;
}