/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  DESIGN VARIABLES
        Tool Tip Right
        Tool Tip Bottom
 *  MODIFIER VARIABLES
 *  IMPORTS
 *  TOOL TIP CONTAINER
 *  TOOL TIP CLOSE BUTTON
 */





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

$tool-tip-bg-color:                  green;

/**
 * ^Tool Tip Right
 */
// Will animate from the right slightly leftwards;
$tool-tip--right-start:              35px;
$tool-tip--right-end:                25px;
$tool-tip--right-top:               -7px;

// Position under portable media query
$tool-tip--right-top--portable:      48px;
$tool-tip--right-left--portable:    -191px;


/**
 * ^Tool Tip Bottom
 */
// Will animate from the bottom slightly upwards;
$tool-tip--bottom-start:            60px;
$tool-tip--bottom-end:              55px;
$tool-tip--bottom-left:            -179px;

// Position under portable media query
$tool-tip--bottom-left--portable:   $tool-tip--right-left--portable;





/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

$tool-tip--right:                   true;
$tool-tip--bottom:                  true;





/*------------------------------------*\
    !IMPORTS
\*------------------------------------*/

@import "../objects/tool-tips/tool-tip-object";





/*------------------------------------*\
    !TOOL TIP CONTAINER
\*------------------------------------*/

.tool-tip__container{
    // Your styles go here
    background-color: $tool-tip-bg-color;
    color: white;
}





/*------------------------------------*\
    !TOOL TIP CLOSE BUTTON
\*------------------------------------*/

.tool-tip__close{
    // Your styles here
    background-color: black;
    color: white;
    padding: 3px 10px;
}